PORT=""
LOG_LEVEL=""
FRONTEND_URL=""
PRODUCTION_URL=""
DEVELOPMENT_URL=""

# CORS
CORS_ORIGINS=""

# Database
DATABASE_URI=""
DATABASE_NAME=""

# Redis
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""
REDIS_DB=""

# JWT
JWT_ALGO=""
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRES_IN=""
REFRESH_TOKEN_EXPIRES_IN=""

# OTP
OTP_EXPIRES_AT=""

# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""

# AWS
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_S3_BUCKET_NAME=""
SES_FROM_ADDRESS=""

# Rate Limit
RATE_LIMIT_ENABLED=""
RATE_LIMIT_WINDOW_MS=""
RATE_LIMIT_MAX=""

# Cache
SEARCH_CACHE_TTL_SECONDS=""
